.auto-option {
  color: black;
}

.menu-select {
  color: black;
}
.urbanDic {
  color: #ba1789;
  font-family: 'Playfair Display', serif;
  font-size: 26px;
}
.dicList {
  font-size: 18px;
}

.small-4 {

    border-right: 2px dotted grey;
    padding: 5px;
}

.small-8 {
    padding: 50px;
}